.feed h2, .feed h3 {
  color: #000;
  margin: .5em 0;
  font-family: 'Montserrat', sans-serif;
}
  
.feed h1 {
  font-size: 2.5em;
  color: #000;
  font-weight: bold;
  text-align: center;
}
  
.feed h2 {
  font-size: 1.5em;
  line-height: 1.25;
}
  
.feed .tiles {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2em;
}  
.feed .tiles .tile {
  width: calc(50% - 3em);
  background-color: #f5f5f5;
  padding: 1em;
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 300px;
  margin: 1em auto;
}
    
.feed .tiles .count {
  position: absolute;
  font-size: 0.75em;
  font-family: 'Montserrat', sans-serif;
  top: 0px;
  right: 0;
  background-color: #c34d41;
  color: #fff;
  padding: .5em .75em;
  box-shadow: 0 0 3px #222;
}
    
.feed .tiles h2 {
  color: #222;
  margin: 0 2em 0 0;
  font-weight: 600;
}

.feed .tiles p {
  font-family: 'Montserrat', sans-serif;
  font-size: .9em;
}
    
.feed .load-more {
  display: block;
  border: 0;
  margin: 1em auto;
  padding: .75em 1em;
  font-size: 1em;
  background-color: #c34d41;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}