#quicktabs-container {
  margin-top: 1em;
}
#quicktabs-container h1 {
  text-align: center;
  font-weight: bold;
}
#quicktabs {
  width: 90%;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 10px;
  float: left;
  border: 1px solid #ccc;
  border-radius: 5px;
}
#quicktabs .tabs ul.inline {
  list-style:none;
  margin:0;
  padding:0
}
#quicktabs .tabs ul.inline li {
  display:inline-block;
  padding:5px 20px;
  margin-bottom:-1px;
  border:solid 1px #ccc;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  background:#f1f1f1
}
/* the margin-bottom makes the tab and container borders overlap */
#quicktabs .tabs ul.inline li.selected {
  border-bottom:solid 1px #fff;
  background:#fff
}
#quicktabs .tabs .tab {
  margin-top: 10px;
  padding: 10px;
}
.container {
  padding:20px;
  border:solid 1px #ccc;
  background:#fff
}
.container Panel {
  display:none
}
.container Panel:first-child {
  display:block
}