.product-card-image {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 180px;
  width: 100%;
}
img {
  width: 100%;
}
.variant-btn-container.row {
  margin-left: 0;
  margin-right: 0;
}

button.variant-btn.btn.btn-primary {
  margin: 20px 20px 20px 0;
  background: black;
  font-weight: 600;
  border: none;
  box-shadow: none;
}
button.variant-btn.btn.btn-primary:hover {
  margin: 20px 20px 20px 0;
  background: #cacaca;
  color: #111;
  font-weight: 600;
  border: none;
}

button.add-to-cart-btn.btn.btn-primary.btn-block.btn-lg {
  margin: 25px 0;
  width: 80%;
  font-weight: 600;
}
p.category-type {
  font-weight: 700;
}

p.price {
  color: #0e9a06;
  font-weight: 700;
  font-size: 30px;
}

p.variant-type {
  text-transform: capitalize;
  font-weight: 700;
}
p.btn-bottom-text {
  font-size: 12px;
  margin-bottom: 5px;
  font-weight: 600;
}

h1.product-title {
  border-bottom: 1px solid black;
}
