.product-card-image {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 180px;
  width: 100%;
}

.footer{
  display:flex;
  justify-content: space-between;
  background-color: rgb(116, 116, 116);
  margin-bottom: 2px;

}

.footer ul{
  color: #fff;
  margin:1rem;
  padding: 1rem;
  list-style: none;
}
.footer ul li{
  padding:10px;
  font-size: 1rem;
}