.product-card-image {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 180px;
  width: 100%;
}
.navigation-bar{
  display: flex;
  list-style-type: none;
  font-size: 20px;
  margin: 0 auto;
}
.navigation-bar2{
  display: flex;
  list-style-type: none;
  font-size: 20px;
  float: right;
  margin: 0 auto;
}
.navigation-bar li{
  padding-right: 20px;
}
.navigation-bar2 li{
  padding-right: 20px;
}
.nav-bar{
  display: flex;
}
.goback-align{
  margin: 0 auto;
  display: flex;
  margin-top: 20px;
}
.sliderbtn{
  cursor: pointer;
  border: 1px solid #3498db;
  background-color: transparent;
  height: 50px;
  width: 200px;
  color: #3498db;
  font-size: 1.5em;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}

