body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #f1f1f1;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
body {
  /* display: flex; */
  /* justify-content: center; */
  padding: 50px 0;
  background-color: #fcfcfc;
  min-height: 100vh;
  font-size: 16px;
  line-height: 1.4;
  font-family: 'Montserrat', sans-serif;
  color: #372717;
  box-sizing: border-box;
  overflow-y: scroll;
}
.accordion {
  width: 100%;
  max-width: 470px;
}
.panel {
  background-color: #f0ebe1;
}
.panel__label {
  position: relative;
  display: block;
  width: 100%;
  background: none;
  border: none;
  text-align: left;
  padding: 25px 60px 25px 25px;
  font-weight: 500;
  font-size: 17px;
  font-family: inherit;
  transition: color 0.2s linear;
  cursor: pointer;
}
.panel__label:focus {
  outline: none;
}
.panel__label:after,
.panel__label:before {
  content: '';
  position: absolute;
  right: 25px;
  top: 50%;
  width: 22px;
  height: 2px;
  margin-top: -2px;
  background-color: #372717;
}
.panel__label:before {
  transform: rotate(-90deg);
  transition: transform 0.35s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.panel[aria-expanded='true'] .panel__content {
  opacity: 1;
}
.panel[aria-expanded='true'] .panel__label {
  color: #957029;
}
.panel[aria-expanded='true'] .panel__label:before {
  transform: rotate(0deg);
}
.panel__inner {
  overflow: hidden;
  will-change: height;
  transition: height 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.panel__content {
  margin: 5px 25px 25px;
  font-size: 14px;
  color: #756658;
  opacity: 0;
  transition: opacity 0.3s linear 0.18s;
}
.panel:not(:last-child) {
  margin-bottom: 3px;
}


/* .top-margin {
  margin-top: 1.6%;
} */

.homepage {
  margin-left: -33%;
  width: 147.3%;
}

.banner img, .banner .slide {
  width: 112.5%;
  height: 600px;
}

.navbar {
  position: absolute !important;
  top: 0;
  width: 100%;
}
.nav-item {
  padding: 1% 5%;
}

.nav-item a {
  text-decoration: none;
  color: black;
  transition: .2s;
}

.nav-item a:hover {
  transform: scale(1.3);
  text-decoration: none;
  color: #ccc;
}

.banner-text {
  position: absolute;
  margin: 10%;
  padding: 5%;
  border: 5px solid whitesmoke;
  border-radius: 5%;
}

.banner-text h1, .banner-text h2{
  color: whitesmoke;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
  
}

.footer {
  background-color: dodgerblue;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer ul {
  list-style-type: none;
  font-weight: bolder;
  margin: 6.5%;
  border-right: 2px solid #ccc;
}

.footer ul li {
  color: white;
}
.aboutus .row {
  margin-top: 2%;
}

